Flask==2.3.3
Flask-Cors==4.0.0
flask-monitoringdashboard==5.0.0
gunicorn==22.0.0
joblib==1.4.2
kneed==0.8.5
matplotlib==3.9.1
numpy==1.26.4
pandas==2.2.3
PyYAML==6.0.2
scikit-learn==1.5.2
xgboost==2.1.1
